.wrap{
    position: relative;
}
.title {
    display: inline-block;
    height: 48px;
    line-height: 0;
    padding: 0 20px;
    margin: 0;
    outline: none;
    font-size: 15px;
    color: #808080;
    max-width: 100%;
    width: 300px;
    box-sizing: border-box;
    display: block;
    background-color: #fff;
    font-weight: 500;
    opacity: 1;
    border-radius: 6px;
    border: none;
    box-shadow: 0 1px 4px 0px rgb(0 0 0 / 12%);
}

.title span{
    overflow: hidden;
    width: 100%;
    line-height: 48px;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 90%;
    float: left;
    height: 48px;
    display: block;
}

.dropdownMenu{
    position: absolute;
    width: 300px;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 10px 0;
    font-size: 15px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    border: none;
    border-radius: 6px;
    box-shadow: 0 1px 4px 0px rgb(0 0 0 / 12%);
}


.item {
    display: block;
    padding: 7px 10px;
    padding-right: 35px;
    clear: both;
    font-weight: normal;
    line-height: 21px;
    color: #808080;
    border-radius: 6px;
}

.item.selected {
    background-color: #F0F2FD;
    color: #007bff;
}